<div class="row">

<table class="customers">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Language</th>
    <th>Genre</th>
    <th>Runtime</th>
    <th>Showtiming</th>
    <th>Days</th>
    
  </tr>
</table>
<div *ngFor="let item of current">
  <table class="customers">  
  <tr id="t1">
    <td>{{item?.id}}</td>
    <td>{{item?.name}}</td>
    <td>{{item?.language}}</td>
    <td>
      <div *ngFor = "let g1 of item?.genre">
              {{g1}}
      </div>
      </td>
    <td>{{item?.runtime}}</td>
    <td>{{item?.time}}</td>
    <td>
      <div *ngFor = "let g2 of item?.days">
        {{g2}}
      </div>
    </td>
   </tr>
  </table>
  </div>

</div>
