<!-- <div *ngIf="item"> -->
  <div *ngIf="current && current.length > 0">
<div class="row">
<br>
<table class="customers">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Language</th>
    <th>Genre</th>
    <th>Runtime</th>
    <th>Showtiming</th>
    <th>Days</th>
    <th>Network Name</th>
    <!-- <th>TimeZone</th> -->
    <th>Image</th>
  </tr>
</table>

</div>
</div>
<div *ngIf="current.length === 0">
  <br>
  <p><b>Sorry,the details of this show is unavailable.</b></p>
</div>
<!-- <div *ngIf="current || current.length > 0"> -->
  

<div *ngFor="let item of current">
  <table class="customers">  
  <tr id="t1">
    <td>{{item.id}}</td>
    <td>{{item.name}}</td>
    <td>{{item.language}}</td>

    <td>
      <div *ngFor = "let g1 of item.genre">
              {{g1}}
      </div>
      </td>
    <td>{{item.runtime}}</td>
    <td>{{item.time}}</td>

    <td>
      <div *ngFor = "let g2 of item.days">
        {{g2}}
      </div>
    </td>
    <td>{{item.nwname}}</td>
    <!-- <td>{{item.timezone}}</td> -->
    <td><img [src]='item.image'> {{item.name}} </td>
  </tr>
  </table>
  </div>


<!-- </div> -->
