* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row { 
  padding: .5em .5em 0 .5em; 
}
.customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 1px solid black;
  width:100%;
 
  text-align: left;
  
}
#t1{
  border-collapse: collapse;
  height: 30%;
  text-align: left;
}
th, td {
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 2px;
  border: 1px solid black;
  hyphens: auto;
}




                   